// $primary-h2-color: #2762bb;
// $primary-text-color: #152f46;
// $primary-background-color: #f0f5f9;
// $secondary-background-color: #61c0bf;
// $highlight-color: #38a0a2;
// $primary-buttons-color: #46cdcf;
// $primary-hover-buttons-color: #7fe0e1;
// $secondary-buttons-color: #f0f5f9;
// $secondary-hover-buttons-color: #f0f5f9;
// $primary-border-color: #d8d8d8;

$navbar-background-color: white;
$navbar-bottom-color: rgb(0, 61, 43);

$primary-background-color: white;
$primary-card-color: rgb(0, 61, 43);
$secondary-card-color: rgb(245, 245, 245);
$tertiary-card-color: rgb(255, 255, 255);
$footer-card-color: rgb(173, 230, 185);

$primary-h1-color: rgb(173, 230, 185);
$primary-text-color: #1a1919;

$secondary-background-color: #61c0bf;
$highlight-color: #38a0a2;
$primary-buttons-color: rgb(0, 61, 43);
$primary-hover-buttons-color: rgb(0, 96, 67);
$primary-border-buttons-color: rgb(0, 61, 43);
$secondary-buttons-color: white;
$secondary-hover-buttons-color: rgb(245, 245, 245);
$secondary-border-buttons-color: rgb(0, 61, 43);
$primary-border-color: #d8d8d8;
