$primary-h2-color: #2762bb;
$primary-text-color: #152f46;
$primary-background-color: #f0f5f9;
$secondary-background-color: #61c0bf;
$highlight-color: #38a0a2;
$primary-buttons-color: #46cdcf;
$primary-hover-buttons-color: #7fe0e1;
$secondary-buttons-color: #f0f5f9;
$secondary-hover-buttons-color: #f0f5f9;
$primary-border-color: #d8d8d8;
