* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: ease all 0.5s;
}

body {
  background-color: #f0f5f9;
  color: #152f46;
  height: 100vh;
}

.navBar {
  position: fixed;
  width: 100vw;
  top: 0;
}
.navBar > ul {
  list-style: none;
}
.navBar__group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f0f5f9;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
}
.navBar a {
  padding: 6px;
  text-decoration: none;
  color: #152f46;
}
.navBar a:hover {
  background-color: #7fe0e1;
  border-radius: 4px;
}

.card {
  padding: 40px 30px;
  border-bottom: 1px solid #d8d8d8;
}
.card--leading {
  background-color: #61c0bf;
  color: white;
  border-radius: 5px;
  height: 300px;
}
.card h2 {
  text-align: center;
  color: lightgrey;
}

.card-table {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.card-table--projects {
  justify-content: space-between;
}
@media only screen and (min-width: 993px) and (max-width: 1200px) {
  .card-table--projects {
    justify-content: center;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card-table--projects {
    justify-content: center;
  }
}
@media only screen and (max-width: 576px) {
  .card-table--projects {
    justify-content: center;
  }
}
.card-table__item--projects {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
  padding: 1.5%;
  margin: 1.5%;
  text-align: center;
}
@media only screen and (max-width: 576px) {
  .card-table__item--projects {
    width: 100vw;
    padding-bottom: 4%;
  }
}
@media only screen and (min-width: 577px) and (max-width: 768px) {
  .card-table__item--projects {
    width: 100vw;
    padding-bottom: 4%;
  }
}
.card-table__item--projects > img {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}
.card-table__item--projects:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-button {
  padding: 10px;
  border-radius: 5px;
  border: 0px;
}
.card-button--primary {
  background-color: #46cdcf;
  color: #152f46;
}
.card-button--primary:hover {
  background-color: #7fe0e1;
}
.card-button--secondary {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #46cdcf;
  color: #38a0a2;
}
.card-button--secondary:hover {
  background-color: #f0f5f9;
}
