$primary-h2-color: #f07b3f;
$primary-text-color: #112d4e;
$background-color: #f9f7f7;

* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  background-color: $background-color;
  color: $primary-text-color;
}

button:hover {
  background-color: $primary-text-color;
  color: white;
  border-radius: 50px;
}

body {
  margin: 0 20px;
}

navigation > ul {
  list-style: none;
}

.navBar {
  position: sticky;
  top: 0px;

  &__group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: $background-color;
    padding: 10px 0;
    margin: 0;
    border-bottom: 1px solid #d8d8d8;
  }

  & a {
    padding: 6px;
    text-decoration: none;
  }

  & a:hover {
    background-color: #ececec;
    border-radius: 5px;
  }
}

.card {
  margin-bottom: 40px;

  & h2 {
    color: $primary-h2-color;
  }
}

.card-table {
  display: flex;
  justify-content: space-around;
}
