* {
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  transition: ease all 0.5s;
}

body {
  background-color: #f0f5f9;
  color: #152f46;
  height: 100vh;
  width: 100wd;
}

.navBar {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.navBar > ul {
  list-style: none;
}
.navBar__group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f0f5f9;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
}
.navBar a {
  padding: 6px;
  text-decoration: none;
  color: #152f46;
}
.navBar a:hover {
  background-color: #7fe0e1;
  border-radius: 4px;
}

.card {
  margin-bottom: 40px;
  padding: 40px 30px;
  border-bottom: 1px solid #d8d8d8;
}
.card--leading {
  background-color: #61c0bf;
  color: white;
  border-radius: 5px;
  height: 300px;
}
.card h2 {
  text-align: center;
}

.card-table {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-button {
  padding: 10px;
  border-radius: 5px;
  border: 0px;
}
.card-button--primary {
  background-color: #46cdcf;
  color: #152f46;
}
.card-button--primary:hover {
  background-color: #7fe0e1;
}
.card-button--secondary {
  background-color: #f0f5f9;
  border: 1px solid #46cdcf;
  color: #38a0a2;
}
.card-button--secondary:hover {
  background-color: #e9eef3;
}
